/*重置样式*/
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: Microsoft YaHei;
  vertical-align: baseline;
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
a img, iframe {
  border: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
ol, ul {
  list-style: none;
}
input, textarea, select, button {
  font-size: 100%;
  font-family: inherit;
}
select {
  margin: inherit;
}
/* Fixes incorrect placement of numbers in ol’s in IE6/7 */
ol { margin-left:2em; }
/* == clearfix == */
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
a img {
  border: none;
  text-decoration: none;
}

/*Loading*/
.loading-pic{
  display: block;
  margin: 0 auto;
  width: 120px;
  height:120px;
  background-image: url("../images/loading.gif");
  background-size: cover;
}
.linkPaper .el-dialog{
  width: 70%;
}
.el-loading-spinner .el-loading-text{
  color: #fff;
  font-size: 16px;
}
.el-loading-spinner{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



