/*重置样式*/
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: Microsoft YaHei;
  vertical-align: baseline;
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
a img, iframe {
  border: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
ol, ul {
  list-style: none;
}
input, textarea, select, button {
  font-size: 100%;
  font-family: inherit;
}
select {
  margin: inherit;
}
/* Fixes incorrect placement of numbers in ol’s in IE6/7 */
ol { margin-left:2em; }
/* == clearfix == */
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
a img {
  border: none;
  text-decoration: none;
}

/*Loading*/
.loading-pic{
  display: block;
  margin: 0 auto;
  width: 120px;
  height:120px;
  background-image: url("../images/loading.gif");
  background-size: cover;
}
.linkPaper .el-dialog{
  width: 70%;
}
.el-loading-spinner .el-loading-text{
  color: #fff;
  font-size: 16px;
}
.el-loading-spinner{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 提示语公共样式 */
.tips{
	font-family: 'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin: 0 !important;
  padding-left: 10px;
  text-align: left;
}
.tips_danger{
  color: #FF0000;
}
.tips_success{
	color: lime;
}

/* 浮动 */
.fLeft{
	float: left;
}
.fRight{
	float: right;
}

/* magin20 */
.mTop20{
	margin-top: 20px;
}
.mBottom20{
	margin-bottom: 20px;
}
.mTop20_anti{
	margin-top: -20px;
}
.mBottom20_anti{
	margin-bottom: -20px;
}
.mTop10{
	margin-top: 10px;
}
.mBottom10{
	margin-bottom: 10px;
}
.mTop10_anti{
	margin-top: -10px;
}
.mBottom10_anti{
	margin-bottom: -10px;
}

/* 密码强度(去掉数字) */
.el-progress__text{
	display: none;
}
.el-progress {
	text-align: right;
}
.el-progress-bar{
	margin-right: -48px;
	width: 90%;
}

/* 缩进2em */
.marginLeft_2em{
	margin-left: 2em;
}
.marginRight_2em{
	margin-right: 2em;
}
.marginLeft_4em{
	margin-left: 4em;
}
.marginRight_4em{
	margin-right: 4em;
}

/* 剩余点数等文字 danger 颜色 */
.dangerFont{
	color: red !important;
}
.blueFont{
	color: #409EFF !important;
}

/* element 相关样式 */
.el-dialog__header {
  border-bottom: 1px solid #b9e8f3;
}
.el-dialog__title{
	color: #409EFF;
}
.el-dialog__footer{
	border-top: 1px solid #b9e8f3;
}

/*居中方式*/
.text-center{
	text-align: center !important;
}
.text-left{
	text-align: left !important;
}
.text-right{
	text-align: right !important;
}
.tableBox .el-table__row{
  cursor: pointer !important;
}

#article > table{
  table-layout: fixed !important;
  width: 100% !important;
}
#article > table table{
  table-layout: fixed !important;
  width: 98% !important;
}
#article p:hover{
  background: #E8E8E8;
}
#article p {
  line-height: 1.5;
  font-size: 14px;
  color: #666666;
  margin-bottom:20px;
}
#article p.ask{
  font-size:16px;
  font-weight:bold;
}
#main{
  width: 85%;
  margin: 0 auto;
}

.directory p{
  line-height: 42px;
  min-height: 42px;
}

